.bead
{
    width: 50px;
    height: 50px;
    background-color: #0A24A9;
    border-radius: 50%;
    box-shadow: 0px -11px 23px -3px black inset;
    margin-top: -25px;
}
div div :nth-child(odd)
{
    float: left;
}
div div :nth-child(even)
{
    float:right;
}
.row
{
    clear: both;
    border: solid 3px red;
    margin-top: 50px;
}
.suunamuutus
{
    float: right;
}
#raam
{

    border:solid magenta 10px;
    border-color: darkmagenta;
    padding-bottom: 50px;
}
