#roheline
{
    color: green;
}
.allajoonitud
{
    text-decoration: underline;
}
#tuhmroheline
{
    background-color: darkgreen;
}
.fondisuurus
{
    font-size: 200%;
}
#monospace
{
    font-family: Monospaced
}
.piirjoon
{
    background-color: yellow;
    border-style: solid;
}
#nurgad
{
    border-radius: 25px;
    border-style: dotted;
}
.kaldkiri
{
    font-style: italic;
    text-align: center;
}
#crosshair
{
    cursor: crosshair;
}
